In [3]:
import pandas as pd
import numpy as np
import datetime

df_sales = pd.read_csv('processed/oct_cafe_sales_output.csv')
df_temp_prec = pd.read_csv('processed/2022_weather_data.csv')

df_sales.join(df_temp_prec, lsuffix='_payment', rsuffix='_weather')

,payment date,quantity,hot_drink_sale,iced_drink_sale,frappe_drink_sale,other,net price,Unnamed: 0,datetime,temp_data,prec_data
0,01/10/2022,87,6,60,11,10,4620.0,0,2022-01-01,22.9,0.000000
1,02/10/2022,75,4,48,10,13,4170.0,1,2022-01-02,23.0,0.000000
2,03/10/2022,109,3,64,7,35,4905.0,2,2022-01-03,23.3,0.000000
3,04/10/2022,113,8,71,13,21,5645.0,3,2022-01-04,22.0,0.000000
4,05/10/2022,91,6,59,14,12,4827.0,4,2022-01-05,22.0,0.000000
5,06/10/2022,67,4,45,4,14,3440.0,5,2022-01-06,18.3,0.000000
6,07/10/2022,79,2,52,14,11,4387.0,6,2022-01-07,23.5,0.219355
7,08/10/2022,53,7,28,6,12,2515.0,7,2022-01-08,23.5,0.219355
8,09/10/2022,60,3,37,10,10,3160.0,8,2022-01-09,23.5,0.219355
9,10/10/2022,73,8,45,11,9,3835.0,9,2022-01-10,23.5,0.219355
10,11/10/2022,70,8,45,9,8,3730.0,10,2022-01-11,22.7,0.000000
11,12/10/2022,105,13,52,14,26,5005.0,11,2022-01-12,22.7,0.000000
12,13/10/2022,72,5,42,15,10,3950.0,12,2022-01-13,23.8,0.000000
13,14/10/2022,57,5,28,6,18,2465.0,13,2022-01-14,22.7,0.000000
14,15/10/2022,41,10,22,3,6,1985.0,14,2022-01-15,23.9,0.000000
15,16/10/2022,80,5,46,5,24,3830.0,15,2022-01-16,23.6,0.000000
16,17/10/2022,67,8,44,4,11,3415.0,16,2022-01-17,24.4,0.000000
17,18/10/2022,74,8,58,7,1,4070.0,17,2022-01-18,22.4,0.000000
18,19/10/2022,66,8,38,3,17,3050.0,18,2022-01-19,22.4,0.000000
19,20/10/2022,56,7,33,6,10,2760.0,19,2022-01-20,23.7,0.000000
20,21/10/2022,56,9,31,6,10,2962.0,20,2022-01-21,21.0,0.000000
21,22/10/2022,65,4,35,6,20,2965.0,21,2022-01-22,24.6,6.600000
22,23/10/2022,75,1,47,5,22,3554.0,22,2022-01-23,22.7,0.000000
23,24/10/2022,62,3,41,3,15,3010.0,23,2022-01-24,24.0,0.000000
24,25/10/2022,50,7,29,4,10,2324.0,24,2022-01-25,24.6,0.000000
25,26/10/2022,87,9,48,10,20,4289.0,25,2022-01-26,24.6,0.000000
26,27/10/2022,68,7,39,4,18,3289.0,26,2022-01-27,25.1,0.000000
27,28/10/2022,65,7,43,4,11,3125.0,27,2022-01-28,25.0,0.000000
28,29/10/2022,89,15,41,10,23,4407.0,28,2022-01-29,26.4,0.000000
29,30/10/2022,69,4,42,7,16,3435.0,29,2022-01-30,26.8,0.000000
30,31/10/2022,79,9,51,9,10,4095.0,30,2022-01-31,25.7,0.200000